/* src/AdminHome.css */

.admin-home-container {
    background-image: url('../images/realbackground.jpg'); /* Change background image for admin panel */
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: rgb(229, 229, 229); 
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .admin-header {
    text-align: center;
    padding: 5px;
    padding-top: -20px;
  }
  
  .admin-header h1 {
    font-size: 4rem;
    margin-bottom: -20px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .admin-header h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .logo {
    max-width: 300px;  /* Set a maximum width */
    display: block;   /* Makes sure the logo is a block element */
    margin: 0 auto 10px; /* Centers the logo and adds space below */
  }
  
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Slightly opaque background for the admin navbar */
    z-index: 1000; /* Ensures the navbar stays on top */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 10;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 13px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .navbar-links a:hover {
    background-color: #f19f3ab4;
    border-radius: 5px;
    transform: scale(1.05); /* Slight zoom effect for admin navigation */
  }
  
  /* Common styles for buttons */
  button {
    background: #9D5600;              /* Background color of the button */
    color: rgb(229, 229, 229);        /* Text color */
    border: none;                     /* Remove any border */
    padding: 12px 40px;               /* Padding for the button */
    font-size: 14px;                  /* Font size */
    border-radius: 50px;              /* Rounded corners */
    cursor: pointer;                  /* Show a pointer cursor when hovered */
    transition: background-color 0.5s ease, transform 0.3s ease; /* Smooth background transition */
    margin-right: 5px;                /* Space between the buttons */
  }
  
  button:hover {
    background: #673901;              /* Darker shade when hovered */
    transform: scale(1.05);           /* Slight zoom effect */
  }
  
  