/* Reserve Table Component Styling */

.reserve-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://i.imghippo.com/files/IxnQ9009CII.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px;
  }
  
  .reserve-table-title {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
  }
  
  .reserve-table-form {
    width: 100%;
    max-width: 400px;
    background: #a13e14;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(11.1px);
    display: flex;
    /* align-items: normal; */
    flex-direction: column;
    gap: 15px;
  }
  
  .form-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .form-input::placeholder {
    color: white; /* Set placeholder color */
  }
  
  .form-submit-button {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  